@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

body {
	margin: 0;
	font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.3rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
	margin: 0 5vw;
}

.convo {
	font-size: 2rem;
	margin: 0 20%;
	/* display: flex; */
}

.wakanda {
	max-height: 280px;
	max-width: 500px;
	min-height: 250px;
	min-width: 300px;
	/* height: 10%; */
	width: 30%;
}

.auth-quickview {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-form {
	padding: 50px 100px;
	background-color: white;
	position: relative;
}

.auth-block {
	padding: 20px 30px;
	font-size: 2rem;
	font-weight: 900;
}

.auth-block input {
	font-weight: 1.5rem;
	padding: 10px;
	font-weight: 600;
}

.auth-form button {
	font-size: 2rem;
	font-weight: 600;
	padding: 20px 30px;
}

.both-forms {
	position: relative;
	border: 2px solid black;
	background-color: white;
	padding: 20px;
}

.hide-auth {
	display: none;
}

.switch-forms {
	padding: 10px;
	font-size: 1.5rem;
}

.signed-success {
	background-color: rgb(217, 255, 114);
}

.signed-failure {
	background-color: rgb(255, 114, 114);
}
